body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #666; 
}

.navbar {
    background: linear-gradient(90deg, #add8e6, #599cb6, #11395a);
    font-size: 40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 80px;
    color: white;
    position: relative; 
}
.navbar .icono{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-decoration: none;
}

.content {
    background-color: #ffffff; 
    padding: 20px;
    margin-top: 20px;
}


.table-responsive-xxl {
    padding: 20px;
    overflow-x: auto;
}

table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

thead th {
    background-color: #599cb6;
    color: white;
    font-weight: bold;
    position: sticky;
    top: 0;
}

tbody tr {
    background-color: #f2f2f2; 
}

tbody th {
    font-weight: normal;
    color: #333;
}

th.text-center, td.text-center {
    text-align: center;
}
